{% extends "base.html.twig" %}

{% block title %} Modidier l'utilisteur {% endblock %}

{% block body %}
    
    <div class="container">
        <h3>Modifier l'utilisateur</h3>
        {{ form(userForm) }}
        <a href="{{ path('admin_utilisateurs') }}">Retour liste utilisateur</a>
    </div>

{% endblock %}